.box-quem-somos {

	.titulo {
		color: $verde;
	}

	.bloco {
		width: (100%)/3;
		float: left;
		padding: 0 20px 0;
		border-right: 1px solid $azul;
		@include box-sizing;

		&:first-child {
			padding-left: 0px;
		}

		&:last-child {
			border: none;
			padding-right: 0;
		}

		.titulo {
			font-size: 1.5rem;
			line-height: 1.5rem;
			display: block;
			margin-bottom: 10px;
			font-weight: $bold;
		}

		.texto {
			display: block;
			font-size: 1rem;
			line-height: 1.4rem;
		}

		@media all and (max-width: 768px){
			width: 100%;
			padding: 0;
			border: none;
			margin-bottom: 50px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.page-id-33 {
	.nav {
		.quem-somos {
			a {
				color: $verde;
			}
		}
	}
}