strong {
	font-weight: $bold;
}

h1 {
	max-width: $wLogo;
	width: 100%;
	float: left;
	@include animacao();

	a {
		img {
			width: 100%;
		}
	}
}

h2 {
	width: 100%;
	display: block;
	overflow: hidden;
	position: relative;

	img {
		position: absolute;
		left: 0;
		max-width: 90px;
	}

	.cont-h2 {
		display: block;
		padding-left: 100px;

		.titulo {
			display: block;
			font-size: 3rem;
			line-height: 3.3rem;
			font-weight: $bold;
		}

		.subtitulo {
			display: block;
			font-size: 2rem;
			line-height: 2.3rem;
			font-weight: $light;
			font-style: italic;
		}
	}

	@media all and (max-width: 1000px){
		img {
			width: 60px;
		}

		.cont-h2 {
			padding-left: 70px;

			.titulo {
				font-size: 2.5rem;
				line-height: 2.8rem;
			}

			.subtitulo {
				font-size: 1.5rem;
				line-height: 1.8rem;
			}
		}
	}

	@media all and (max-width: 500px){
		text-align: center;
		
		img {
			display: inline-block;
			position: relative;
			width: auto;
			margin: 0;
		}

		.cont-h2 {
			padding: 0;

			.titulo {
				font-size: 2.5rem;
				line-height: 2.8rem;
			}

			.subtitulo {
				font-size: 1.5rem;
				line-height: 1.8rem;
			}
		}
	}
}

h3 {
	font-size: 1.312rem;
	line-height: 1.312rem;
	font-weight: $regular;
	text-align: center;
}

h5 {

}

h6 {

}

p {
	font-size: $font-size;
	line-height: $font-size+.4;
	font-weight: $regular;
	margin-bottom: 20px;

	&:last-child {

		margin-bottom: 0px;
	}

	&.mini {
		font-size: 1rem;
		line-height: 1.25rem;
	}
	
	@media all and (max-width: 770px){
		font-size: 1.25rem;
		line-height: (1.25rem)+.5;
	}
}

a:focus, a:hover {
    text-decoration: none;
}

a.button {
	display: block;
	width: auto;
	height: 50px;
	line-height: 50px;
	color: #ffffff;
	font-size: 1.25rem; 
	text-align: center;
	padding: 0 30px;
	text-decoration: none;
	@include animacao;

	&.visualizar {
		background-color: $amarelo;
		position: absolute;
		bottom: 50px;
		right: 50px;

		&:hover {
			background-color: darken($amarelo, 10%);
		}
	}
}

.justify-center {
	text-align: justify;  
	/*-moz-text-align-last: center;
	text-align-last: center;*/
}

.center {
	text-align: center;
}
.no-margim {
	margin: 0!important;
}