$width: 1280px;
$padding-container: 50px;
$padding-col: 15px;

$font-size: 1.125rem;

$cor-txt: #000000;
$verde: #64B692;
$verde-claro: #73D3C1;
$amarelo: #E8B65A;
$vermelho: #D4687D;
$azul: #202B40;


$bege: #E8B65A;
$dourado: #a4925f;
$bordo: #790000;
$laranja: #ea793e;
$marrom: #99552b;
$roxo: #ffffff;
$verde-limao: #b5bd00;
$pink: #f4364c;

$light: 300;
$regular: 400;
$bold: 600;

$wLogo: 150px;

$hSlide: 60vh;